
@font-face {
  font-family: Roboto;      
  src: url('../fonts/roboto-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Roboto;      
  src: url('../fonts/roboto-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Montserrat;      
  src: url('../fonts/montserrat-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
